.contenedor {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  /* height: 75%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: 15px;
  font-size: 25px;
}

.total {
  margin-left: 15px;
  margin-top: 5%;
  font-size: 28px;
  font-weight: 700;
}
