.contenedor {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  height: 25%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  height: 75%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
}